.form_resources * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body .form-control {
    width: 100%;
    height: 30px;
    margin: 0;
}
body .form-group {
    margin: 0 0 10px 0;
}
h2.title-form {
    font-size: 35px;
    margin: 0 0 10px 0;
}
.btn-form {
    padding: 0 20px;
    width: auto;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-size: 13px;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important
}
.btn-form:hover{
	padding: 0 20px;
    width: auto;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-size: 13px;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important
}
form:focus {
    outline: none;
}
#form_login{
	display: none;
}
.spinner {
    background: url(spinner.gif) no-repeat;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    display: inline-block;
    visibility: hidden;
    vertical-align: middle;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 20px;
    height: 20px;
    margin: 10px 10px 0;
}
.loading .spinner {
	visibility: visible;
}
.form_mess{
	display: none;
}
.error {
    color: red;
    font-size: 12px;
}

#the-header .nav li:nth-child(3) {
    color: #0072CE;
}

#attach-btn {
    background: #00a3ff url("../images/magnify.png") no-repeat scroll 0 center / 103% 94%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    height: 38px;
    padding-left: 30px;
    padding-right: 21px;
    padding-top: 15px;
    pointer-events: none;
    position: relative;
    top: -53px;
    width: 8px;
    z-index: 2;
}

#file-wrapper {
    background-color: #ffffff;
    height: 45px;
    padding: 4px 6px;
    width: 100%;
}

input[type="file"] {
	background-color: #ffffff;
    height: 60px !important;
    width: 100% !important;
    padding: 4px 6px;
    opacity: 0;
}

.job-text strong {
	color: #003b5c !important;
}


</style>
<style>

<!-- Company Style !-->

[class*="span"] {
    float: left;
    margin-left: 20px;
    min-height: 1px;
}


input[type="file"] {
    width: 100% !important;
}


.mobile-bio-pic {
	display:none;
}


#sub-nav {
    background-color: #e6e6e6;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    z-index:10;
}

#sub-nav ul {
    float: right;
    margin-bottom: 0;
    margin-top: 15px;
}

#sub-nav-menu {
    background-color: #e6e6e6;
    height: 50px;
    margin: 0 auto;
    max-width: 1140px;
}

#sub-nav li {
    float: left;
    list-style: outside none none;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: auto;
}

#sub-nav a {
    color: #999999;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#sub-nav a:hover {
	text-decoration:none;
}

#the-header .masthead ul {
    height: 60px;
    margin-bottom: 0;
    padding-top: 0;
}

#the-header .nav li:nth-child(4) {
    height: 130px;
}

#the-header .masthead ul li a {
    line-height: 100px;
    height: 130px;
}

#sub-nav {
    background-color: #e6e6e6;
}


#about-area h1 {
	color: #004a73 !important;
	text-align: center;
	font-weight:200;
	line-height: 1.2em;
	font-size:30px;
}

#board-area h1 {
	color: #004a73 !important;
	text-align: center;
	font-weight:200;
	line-height: 1.2em;
	font-size:40px;
}

#scientific-area h1 {
	color: #ffffff !important;
	text-align: center;
	font-weight:200;
	line-height: 1.2em;
	font-size:40px;
}

#investor-area h1 {
	color: #004a73 !important;
	text-align: center;
	font-weight:200;
	line-height: 1.2em;
	font-size:40px;
}

#careers-area h1 {
	color: #ffffff !important;
	text-align: center;
	font-weight:200;
	line-height: 1.2em;
	font-size:40px;
}

#board-area h2 {
	color: #4d4d4d !important;
	text-align: center;
	font-weight:200;
	line-height: 1.2em;
	font-size:18px;
	font-weight:400;
}

#board-area p {
    color: #4d4d4d !important;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 300;
    line-height: 1em;
    position: relative;
    text-align: center;
    top: -5px;
}

#board-area {
    background-color: #f1f1f1;
    clear: both;
    height: 940px;
    width: 100%;
}

#scientific-area {
    background-color: #336e8f;
    clear: both;
    height: 560px;
    width: 100%;
}

#about-area {
	width:100%;
	clear:both;
	background-color:#ffffff;
	height:400px;
}

#investor-area {
    background-color: #ffffff;
    clear: both;
    height: 560px;
    width: 100%;
}

#careers-area {
    background-color: #004a73;
    clear: both;
    height: auto;
    overflow: auto;
    width: 100%;
}

#about-area-text {
    margin: 0 auto;
    padding-top: 60px;
    width: 70%;
}

#about-area-text p {
    color: #4d4d4d;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 200;
    line-height: 2em;
    padding-top: 20px;
    text-align: center;
}

#board-header {
    padding-bottom: 40px;
    padding-top: 80px;
}

.board-member {
    width: 30%;
    margin-left: 20px;
}

#board-row-1 {
    margin: 0 auto;
    width: 70%;
}

#board-row-2 {
    float: right;
    height: auto;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-top: 40px;
    text-align: center;
    width: 70%;
}

#scientific-area p {
    color: #ffffff !important;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7em;
}

#scientist-info {
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 76%;
}

#scientific-header {
    padding-top: 80px;
}

#scientist-info .span6 {
    margin-left: 20px;
    padding-top: 30px;
    width: 62%;
}

#scientific-area p:first-child {
    padding-top: 20px;
}

#investor-area a {
	text-decoration:none;
	color:#00a3ff;
}

#investor-area p {
	color: #000000 !important;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7em;
}

#investor-area h2 {
	color: #004a73 !important;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
}

#investor-header {
    padding-bottom: 40px;
    padding-top: 80px;
}

#investor-info {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 76%;
}

#investor-info .span6 {
    width: 59%;
}

#investor-info .span3 img {
    padding-top: 90px;
}

#careers-area h2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5em;
    text-align: center;
}

#careers-area p {
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 200;
    line-height: 1.7em;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
}

#careers-area strong {
    color: #ffffff;
    font-family: "Raleway";
}

#jobs-row h1 {
    font-family: "Open Sans";
    font-size: 16px !important;
    font-weight: 300;
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
    margin-top: 0;
    float: left;
}

#jobs-row h2 {
	font-family: "Raleway";
	font-size: 14px;
	color: #004a73;
	font-weight:700;
	text-align: left;
	padding-left: 20px;
    padding-right: 20px;
}

#jobs-row p {
	font-family: "Raleway";
	font-size: 14px;
	color: #000000;
	font-weight:300;
	text-align:left;
	padding-left: 20px;
    padding-right: 20px;
}

#jobs-spacing {
	height:60px;
	width:100%;
	clear:both;
}

.job-header {
    background-color: #003b5c;
    height: 40px;
}

#careers-area #jobs-row .job-header:last {
    background-color: #00a3ff;
    height: 40px;
}

.job-text {
    background-color: #ffffff;
    display:none;
}

#jobs-row li {
    color: #000000;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7em;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#jobs-row a {
	color: #00a3ff;
	text-decoration:none;
}

#jobs-row a:hover {
	color: #00a3ff;
	text-decoration:none;
}

#jobs-row {
    float: left;
    padding-bottom: 3px;
    width: 70%;
}

#resume-form {
    float: right;
    margin-left: 30px;
    width: 25%;
}

#resume-form input {
    border-radius: 0;
    float: left;
    font-family: "Open Sans";
    font-size: 16px;
    height: 35px;
    margin-bottom: 3px;
    width: 100%;
}

.job-text ul {
    padding-left: 20px;
}

input[type="file"] {
    background-color: #ffffff;
	width: 100% !important;
	color:transparent;
}

textarea {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}

#resume-form .btn {
    float: right;
    position: relative;
    right: -14px;
    width: 150px;
    top: -31px;
}

.expand-icon {
    float: right;
    padding-right: 10px;
    padding-top: 3px;
}

.expand-icon > img {
    width: 30px;
}

.job-text p:last-child {
    padding-bottom: 60px;
}

#careers-header a {
    color: #ffffff;
    text-decoration: underline;
}

#careers-header {
    padding-bottom: 60px;
    padding-top: 80px;
}

.expand-icon:hover {
	cursor: pointer;
}

#the-header .masthead ul li a:hover {
	background-color:#004a73;
}

#the-header .masthead ul li a:hover {
	height:100px;
}

#francois-bio {
	display:none;
	z-index:1000;
	width:100%;
}

#gene-bio {
	display:none;
	z-index:1000;
	width:100%;
}

#michael-k-bio {
	display:none;
	z-index:1000;
	width:100%;
}

#elodie-bio {
	display:none;
	z-index:1000;
	width:100%;
}

#peter-bio {
	display:none;
	z-index:1000;
	width:100%;
}

#dino-bio {
	display:none;
	z-index:1000;
	width:100%;
}

.bio-overlays {
    background-color: #ffffff;
    border-radius: 15px;
    bottom: 0;
    height: auto !important;
    left: 0;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    top: 60px;
}

.first-bio-col img {
    float: right;
    max-width: 260px;
    padding-bottom:40px;
}

.first-bio-col {
    float: left;
    width: 40%;
    height: 100% !important;
}

.second-bio-col {
    float: left;
    width: 60%;
}

.first-bio-container {
    padding-bottom: 100px;
    padding-left: 200px;
    padding-top: 70px;
    height: 100% !important;
}

.second-bio-container {
    padding: 70px 100px 40px 80px;
}

.bio-overlays h1 {
    color: #004a73;
    font-family: "Raleway";
    font-size: 16px !important;
    font-weight: 400 !important;
    text-align: left !important;
}

.bio-overlays h2 {
    color: #333333;
    font-family: "Raleway";
    font-size: 20px !important;
    font-weight: 300;
}

.bio-overlays h4 {
    color: #4d4d4d !important;
    font-family: "Raleway";
    font-size: 16px !important;
    font-weight: 300;
}

.second-bio-container h4 {
	position: relative;
    top: -10px;
}

.second-bio-container h3 {
    font-family: "Raleway";
    font-size: 22px;
    line-height: 1.3em;
    font-weight: 300;
    padding-bottom: 10px;
}

.mobile-bio-pic {
    display: none;
}

.close-bio img {
    width: 20px !important;
}

.bio-overlays p {
    color: #4d4d4d !important;
    font-family: "Raleway";
    font-size: 14px !important;
    font-weight: 300;
    line-height: 1.8em !important;
    text-align: left !important;
}

.bio-overlays li {
    font-family: "Raleway";
    font-size: 14px;
    list-style: outside none none !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 2em;
}

.bio-overlays ul {
    margin: 0 !important;
    padding: 0 !important;
}

.bio-overlays hr {
    width: 100px;
}

.second-bio-container img {
    max-width: 50px;
}

.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	overflow-x: hidden;
    overflow-y: hidden;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #4c4c4c;
	z-index:50;
	opacity:0.8;
}

.close-bio {
    float: right;
}

.bio-list {
	padding-bottom: 50px;
}

#investor-spacing {
	height:60px;
	clear:both;
	width:100%;
}

#scientific-spacing {
	height:60px;
	clear:both;
	width:100%;
}

.board-member:hover {
	cursor: pointer;
	cursor: hand;
}

#dino:hover {
	cursor: pointer;
	cursor: hand;
}

#dino-link {
    color: #ffffff !important;
}

.job-header {
	cursor: pointer;
	cursor: hand;
}

#attach-text {
    font-family: "Open Sans";
    font-size: 16px;
    padding-left: 80px;
    padding-top: 0;
    pointer-events: none;
    position: relative;
    top: -127px;
}

#francois-container {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    z-index:60;
}

#francois-inner-container {
    margin: 0 auto;
    position: relative;
    width: 65%;
    z-index:61;
}

#gene-container {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    z-index:60;
}

#gene-inner-container {
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 65%;
    z-index:61;
}

#peter-container {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    z-index:60;
}

#peter-inner-container {
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 65%;
    z-index:60;
}

#michael-k-container {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    z-index:60;
}

#michael-k-inner-container {
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 65%;
    z-index:60;
}

#elodie-container {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    z-index:60;
}

#elodie-inner-container {
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 65%;
    z-index:60;
}

#dino-container {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    z-index:60;
}

#dino-inner-container {
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 65%;
    z-index:60;
}

#contact-bg-area {
    background-image: url("/images/contact-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    height: 500px;
    width: 100%;
}

#contact-info-area {
    background-color: #ffffff;
    clear: both;
    height: auto;
    min-height:200px;
    width: 100%;
}

#contact-info-area.grey {
    background-color: #f2f2f2;
}


#contact-info-area h1 {
    color: #0072ce;
    font-family: "Raleway";
    font-size: 40px;
    font-weight: 100;
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 60px;
    text-align: left;
}

#contact-form-right {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

#contact-marker-icon {
    padding-top: 60px;
}

#contact-mail-icon {
    padding-top: 30px;
}

#contact-form-right-container p {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 20px;
    line-height: 1.5em;
}

#contact-form-right-container {
    background-color: #3d7493;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

#contact-container {
    margin: 0 auto;
    width: 80%;
}

#contact-form-left {
    float: left;
    width: 50%;
}

#contact-form-contents input {
    border: medium none;
    border-radius: 0;
    color: #333333;
    font-family: "Open sans";
    font-size: 16px;
    height: 35px;
    margin-bottom: 2px;
    padding-left: 15px;
    width: 95%;
}

#contact-form-contents textarea {
    border: medium none;
    border-radius: 0;
    color: #333333;
    font-family: "Open sans";
    font-size: 16px;
    height: 256px;
    padding-left: 15px;
    width: 95% !important;
}

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #333333;
}

:-moz-placeholder { /* Firefox 18- */
  color: #333333;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #333333;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #333333;
}

::-ms-input-placeholder { /* Edge */
  color: #333333;
}

#contact-form-right img {
    text-align: center;
    width: 45px;
}

#contact-form-send-btn {
    float: right;
    margin-top: -6px;
    width: 160px;
}

#thank-you-text {
	color:#333333;
	font-family:'Raleway';
	font-size:16px;
	text-align:center;
}

#contact-form-right-container a {
	color:#ffffff;
	text-decoration:none;
}

#contact-form-right-container a:hover {
	color:#ffffff;
	text-decoration:none;
}

@media (max-width: 1200px) {
	#resume-form {
    float: right;
    margin-left: 30px;
    padding-right: 200px;
    width: 20%;
	}
	
	#jobs-row {
    float: left;
    margin-left: 20px;
    padding-bottom: 3px;
    padding-left: 20px;
    width: 50%;
	}
	
	#dino {
    padding-top: 40px;
	}
	
	input[type="file"] {
    width: 100% !important;
	}
	
}

@media (max-width: 1100px) {

	#scientist-info .span6 {
    width: 64%;
	}
	
	#investor-info .span6 {
    width: 64%;
	}
	
	.first-bio-col img {
    float: right;
    max-width: 200px;
	}
	
}

@media (max-width:1088px) {
	#attach-text {
    top: -137px;
	}
	
	#elodie-inner-container {
    width: 90%;
	}

	#dino-inner-container {
		width: 90%;
	}

	#michael-k-inner-container {
		width: 90%;
	}

	#peter-inner-container {
		width: 90%;
	}

	#francois-inner-container {
		width: 90%;
	}

	#gene-inner-container {
		width: 90%;
	}
}

@media (max-width: 1024px) {

	#resume-form {
    float: right;
    margin-left: 10px;
    padding-right: 150px;
    width: 22%;
	}
	
	#jobs-row {
    float: left;
    margin-left: 50px;
    padding-bottom: 3px;
    padding-left: 20px;
    width: 50%;
	}
	
	#the-header .masthead ul {
    height: auto;
    margin-bottom: 0;
    padding-top: 0;
	}
	
	#sub-nav-list li {
    background-color: #e6e6e6;
    border-bottom: medium none;
    border-top: medium none;
	}
	
	.second-bio-container {
    padding: 70px 100px 40px 40px;
	}

}


@media (max-width: 980px) {
	#dino {
		padding-top: 40px;
	}
	
	#scientist-info .span6 {
    padding-top: 0px;
	}
}

@media (max-width: 950px) {

	#scientist-info .span6 {
    width: 59%;
	}
	
	#investor-info .span6 {
    width: 59%;
	}
	
}

@media (max-width: 900px) {

	#sub-nav a {
	font-size: 12px;
	}
	
	#about-area {
    height: auto;
	}
	
	#about-area-text {
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 70%;
	}
	
	.board-member {
    width: 28%;
	}
	
	#board-row-2 {
    padding-right: 25px;
    }
    
    #scientist-info .span6 {
    width: 50%;
	}
	
	#scientific-area {
    height: auto;
    width: 100%;
	}
	
	#investor-area {
    height: auto;
    width: 100%;
	}
	
	#board-header {
    padding-bottom: 40px;
    padding-top: 80px;
    width: 100%;
	}
	
	#careers-header {
    padding-bottom: 60px;
    padding-top: 60px;
    width: 80%;
	}
	
	#scientific-header {
    padding-top: 60px;
    width: 100%;
	}
	
	#investor-header {
    padding-top: 60px;
    width: 100%;
	}
	
	#investor-info .span6 {
    width: 100%;
	}
	
	#investor-info .span3 img {
    padding-top: 0px;
	}

}

@media (max-width: 864px) {

	#board-area {
		background-color: #f1f1f1;
		clear: both;
		height: auto;
		overflow: auto;
		width: 100%;
	}

}

@media (max-width: 830px) {
	#resume-form {
    float: right;
    margin-left: 2px;
    padding-right: 30px;
    width: 30%;
	}
	
	#jobs-row {
    float: left;
    margin-left: -8px;
    padding-bottom: 3px;
    padding-left: 30px;
    width: 60%;
	}
}

@media (max-width: 768px) {


}

@media (max-width: 767px) {

	#attach-text {
    top: -92px;
	}
	
	#sub-nav {
    background-color: #e6e6e6;
    height: 50px;
	}
	
	#sub-nav li {
    padding-top: 0;
	}

	input[type="file"] {
    background-color: #ffffff;
    height: 60px !important;
    width: 100% !important;
	}
	
	#board-row-2 {
	padding-top:0;
	}

	#board-area .row {
    margin-left: 0;
	}
	
	#board-row-1 {
    margin: 0 auto !important;
    width: 100%;
	}
	
	#board-row-2 {
    margin: 0 auto !important;
    width: 100%;
    padding-right:0;
	}
	
	.board-member {
    margin: 0 auto;
    text-align: center;
    width: 100%;
	}
	
	.span4.board-member > img {
    width: 50%;
	}
	
	.span6.board-member > img {
    width: 50%;
	}
	
	#scientist-info .span3 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
	}
	
	#scientist-info .span3 img {
    margin: 0 auto;
    text-align: center;
    width: 50%;
	}
	
	#scientist-info .span6 {
    clear: both;
    width: 100%;
	}
	
	.first-bio-col {
    display: none;
	}
	
	.second-bio-col {
    float: left;
    width: 100%;
	}
	
	.mobile-bio-pic {
    display: inline;
    position: relative;
    top: -30px;
	}
	
	.second-bio-container img {
    max-width: 200px;
	}
	
	#careers-area .row {
    margin-left: 0;
    width: 100%;
	}
	
	#resume-form {
    clear: both;
    float: none;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 80%;
	}
	
	#jobs-row {
    clear: both;
    float: left;
    padding-left: 0;
    width: 100%;
	}
	
	.close-bio {
    float: right;
    position: relative;
    top: -30px;
	}
	
	#resume-spacing {
    clear: both;
    height: 60px;
    width: 100%;
	}
	
	#about-area-text {
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 90%;
	}
	
	#about-area h1 {
    font-size: 24px;
	}
	
	#board-area h1 {
    font-size: 24px;
	}
	
	#scientific-area h1 {
    color: #ffffff !important;
    font-size: 24px;
    font-weight: 200;
    line-height: 1.2em;
    text-align: center;
	}
	
	#scientific-area .row {
    margin-left: 0;
    width: 100%;
	}
	
	#scientist-info .span6 {
    clear: both;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    width: 100%;
	}
	
	#scientific-area p {
    color: #ffffff !important;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7em;
    padding-left: 20px;
    padding-right: 20px;
	}
	
	#investor-info {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 100%;
	}
	
	#investor-info .span6 {
    margin-left: 0;
    width: 100%;
	}
	
	#investor-info .span3 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
	}
	
	#investor-area .span6 h2 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
	}
	
	#investor-area .span6 p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
	}
	
	#investor-area .span3 img {
    margin: 0 auto;
    text-align: center;
    width: 200px;
	}
	
	#careers-area h1 {
    font-size: 24px;
    }
    
    #investor-area h1 {
    font-size: 24px;
    }
    
    #investor-area .row {
    margin-left: 0;
    width: 100%;
	}
	
	.second-bio-container {
    padding: 60px 60px 40px 80px;
	}
	
}

@media (max-width: 600px) {
	.second-bio-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
	}
}

@media (max-width: 500px) {

	.bio-overlays{
	top:5px
	}

	#attach-text {
    top: -101px;
	}
	
	#sub-nav a {
    font-size: 18px;
    color: #999999;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 700;
	}
	

	#sub-nav li {
    float: left;
    list-style: outside none none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
	}
	
	#sub-nav ul {
    float: right;
    margin-bottom: 0;
    margin-top: 15px;
    width: 100%;
	}
	
	#sub-nav {
    background-color: #e6e6e6;
    height: 210px;
	}
}

@media (max-width: 425px) {
	#attach-text {
    font-size: 14px;
    padding-left: 66px;
    top: -102px;
	}
}

@media (max-width: 400px) {
	#attach-text {
		font-size: 16px;
		padding-left: 90px;
		top: -128px;
	}
}

@media (max-width: 800px) {

	#contact-form-send-btn {
    float: right;
    margin-top: -6px;
    position: relative;
    right: -7px;
    width: 160px;
	}

}

@media (max-width: 767px) {

	input[type="file"] {
    background-color: #ffffff;
    height: 60px !important;
    width: 100% !important;
	}
	
	#contact-bg-area {
    height: 240px;
	}
	
	#contact-form-left {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 100%;
	}
	
	#contact-form-send-btn {
    float: none;
    margin: 0 auto;
    position: relative;
    right: 0;
    width: 160px;
	}
	
	#contact-marker-icon {
    padding-top: 25px;
	}
	
	#contact-form-right {
    float: left;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 20px;
	}
	
	#contact-form-contents textarea {
    height: 120px;
	}
	
	#contact-form-right-container {
    width: 100%;
	}
	
	#contact-form-right-container {
    height: 300px;
	}
}

.news-item p a {
	font-size:18px;
	color:#00a4ff;
	font-family:'Raleway';
}

.news-item p a:hover {
	font-size:18px;
	color:#00a4ff;
	font-family:'Raleway';
}

.news-item h3 {
    color: #333333;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 25px;
}

#the-header .masthead ul li a {
    height: 100px;
    line-height: 105px;
}

.news-item {
    padding-bottom: 5px;
}

#news-section {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 40px;
}
#exampleModal{
	display: none;
}
.form_mess.alert {
    margin-bottom: 3px;
}
button.close {
    top: -14px;
    position: relative;
    right: -9px;
}
.form_resources {
    padding: 10px 0 0 0;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: transparent;
    margin-left: inherit;
    border-radius: inherit;
    border: 0;
    box-shadow: none;
    width: inherit;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal .modal-dialog {
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
    max-width: 320px;
}
.modal.fade.in {
    top: 0;
}
input#receive_infor {
    margin: -1px 0 0;
}
.form-group.receive_infor_style label {
    font-size: 12px;
    line-height: 16px;
    color: #6d6d6d;
}
@media (max-width: 767px) {
	#news-section {
		margin: 0 auto;
		width: 90%;
	}
	
	#contact-info-area {
    min-height:300px;
	}
}