.has_image {
    max-width: 200px;
    width: 100%;
    height: auto;
}
.bx_wrap,.slider_list {
    float: left;
    width: 100%;
    position: relative;
}
.bx_wrap .slider_list{
	background: #fff;
}
.bx_left {
    float: left;
    width: 200px;
}
.bx_right {
    float: right;
    width: calc(100% - 200px - 20px);
}
.slider_list{
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.them_img {
    width: 100%;
    margin-top: 10px;
    clear: both;
}
.js-image {
    font-size: 0;
    line-height: 0;
    margin: 10px 0;
}
.bx_wrap input:not([type='checkbox']):not([type="button"]),
.bx_wrap textarea{
	width: 	100%;
}
.slider_list.ui-sortable-helper{
	cursor: move !important;
	opacity: 0.8;
}
.slider_list.ui-sortable-placeholder{
	border: 1px dotted #ccc;
	visibility: visible !important;
}
.bx_right > p{
	margin-top: 0;
}