header#header .nav-dropdown {
    display: block;
}
header#header .nav-dropdown {
    display: block;
    width: 275px;
	padding: 10px 0;
}
header#header .nav-dropdown ul.sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    min-height: 100%;
    background: #fff;
	width: 275px;
    padding: 20px 0;
	display: none;
}
header#header .nav-dropdown ul.sub-menu a {
    white-space: normal;
}
header#header .nav-dropdown  li:hover > ul.sub-menu{
	display: block;
}
header#header .nav-dropdown li {
    border-right: 0;
    white-space: normal;
	width: 100%;
	display: block;
}
header#header .nav-dropdown li a {
    padding: 10px;
}
